## Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\subha\Downloads\Clean.xlsx")

In [4]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

In [5]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [7]:
df.drop('Unnamed: 0',axis = 1, inplace = True)

In [8]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4             0  Iris-setosa
1   2            4.9           3.0            1.4             0  Iris-setosa
2   3            NaN           3.2            1.3             0  Iris-setosa
3   4            4.6           3.1            1.5             0  Iris-setosa
4   5            5.0           3.6            1.4             0  Iris-setosa

In [9]:
df.isna().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

## Filling missing values

In [10]:
df["SepalLengthCm"].fillna(df["SepalLengthCm"].median(),inplace = True)

In [12]:
df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace = True)

In [13]:
df["PetalLengthCm"].fillna(df["PetalWidthCm"].median(),inplace = True)

In [14]:
df["PetalWidthCm"].fillna(df["PetalWidthCm"].median(),inplace = True)

In [15]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          5
dtype: int64

In [21]:
df["Species"].fillna(df["Species"].mode()[0],inplace = True)

In [22]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Outliers

In [23]:
df[(df["SepalLengthCm"]<0.5) | (df["SepalLengthCm"]>8)] = df["SepalLengthCm"].median()

In [24]:
df[(df['SepalWidthCm']<0.5 ) | (df['SepalWidthCm']> 5)] = df["SepalWidthCm"].median()

In [25]:
df[(df['PetalLengthCm']< 0.5) | (df['PetalLengthCm']> 7)] = df["PetalLengthCm"].median()

In [26]:
df[(df["PetalWidthCm"]< 0) | (df["PetalWidthCm"]> 2)] = df["PetalWidthCm"].median()

## Detecting the Duplicates

In [27]:
df.drop("Id",axis=1,inplace=True)

In [28]:
df.duplicated().sum()

22

## Dropping the Duplicates

In [29]:
df.drop_duplicates(keep="first",inplace=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.0  Iris-setosa
1            4.9           3.0            1.4           0.0  Iris-setosa
2            5.8           3.2            1.3           0.0  Iris-setosa
3            4.6           3.1            1.5           0.0  Iris-setosa
4            5.0           3.6            1.4           0.0  Iris-setosa

In [30]:
df.duplicated().sum()

0

## TypeCasting

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float64
 1   SepalWidthCm   138 non-null    float64
 2   PetalLengthCm  138 non-null    float64
 3   PetalWidthCm   138 non-null    float64
 4   Species        138 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.5+ KB

In [32]:
df["SepalLengthCm"] = df["SepalLengthCm"].astype("float16")

In [33]:
df["SepalWidthCm"] = df["SepalWidthCm"].astype("float16")

In [34]:
df["PetalLengthCm"] = df["PetalLengthCm"].astype("float16")

In [35]:
df["PetalWidthCm"] = df["PetalWidthCm"].astype("float16")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  138 non-null    float16
 1   SepalWidthCm   138 non-null    float16
 2   PetalLengthCm  138 non-null    float16
 3   PetalWidthCm   138 non-null    float16
 4   Species        138 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.2+ KB